.container a img {
    height: 400px;
}

.sputnik:before {
    content: "Спу́тник — ракета-носитель первых искусственных спутников Земли, базой для которой служила межконтинентальная баллистическая ракета 8К71. Первая ракета в истории достигшая первой космической скорости. Произведено два пуска. На орбиту были выведены спутники ПС-1 и ПС-2.";
}

.jupiter_c:before {
    content: "Юпитер-Си — баллистическая ракета, созданная в США в 1956 году на базе ракеты Redstone командой Вернера фон Брауна для испытания теплозащиты боеголовок будущих межконтинентальных ракет. Базовый Юпитер-Си был трёхступенчатым.";
}

.voshod:before {
    content: "Трехступенчатая ракета-носитель «Восход» разработана ОКБ-1 и ЦСКБ-Прогресс на базе 1-й и 2-й ступеней межконтинентальной баллистической ракеты Р-7А и блока 3-й ступени ракеты-носителя «Молния». Первый пуск ракеты-носителя «Восход» был осуществлен 16 ноября 1963 года.";
}

.saturn_1:before {
    content: "«Сатурн-1» — американская ракета-носитель, первая американская ракета-носитель, изначально предназначенная для вывода грузов на орбиту Земли, и первая ракета-носитель из семейства ракет-носителей Сатурн. Имела непропорционально маленькую вторую ступень по сравнению с первой.";
}

.diamant:before {
    content: "Диамант — первая французская ракета-носитель и первая космическая ракета, которая была сконструирована не в СССР или в США. Диамант был разработан на базе военной программы Pierres précieuses, за основу были взяты французские ракеты: Агат, Топаз, Изумруд, Рубин и Сапфир:";
}

.lambda:before {
    content: "Лямбда-4S — четырёхступенчатая ракета-носитель, выведшая на орбиту первый Искусственный спутник Земли Японии — «Осуми». До запуска SS-520-5 была самой лёгкой из всех космических ракет-носителей, достигших орбиты, в истории. Стартовая масса — около 9,4 тонны. Произведена компанией Nissan.";
}

.cz_1:before {
    content: "«Чанчжэн-1» или CZ-1 — серия китайских ракет-носителей семейства «Чанчжэн», включающая в себя ракеты Чанчжэн-1 и Чанчжэн-1D. Ракетой Чанчжэн-1 в 1970 году был запущен первый китайский спутник Дунфан Хун-1. Первая и вторая ступени работали на НДМГ и азотной кислоте. Третья ступень твердотопливная.";
}

.shavit:before {
    content: "«Шави́т» или RSA-3 — ракета для запуска космических аппаратов. Разработана и производится в Израиле. Впервые была запущена 19 сентября 1988 года с космодрома Пальмахи́м, что сделало Израиль восьмой страной в мире, способной самостоятельно выводить космические аппараты на орбиту.";
}

.start:before {
    content: "«Старт» — твердотопливная космическая ракета-носитель, сконструированная в НТЦ «Комплекс-МИТ» на базе межконтинентальной баллистической ракеты 15Ж58 подвижного грунтового ракетного комплекса «Тополь».";
}

.black_arrow:before {
    content: "Блэк эрроу — первая и единственная британская 3-ступенчатая ракета-носитель. Разработана фирмой Bristol Siddeley Engines. Ракета предназначена для выведения полезной нагрузки массой порядка 100 кг на полярную околоземную орбиту высотой 500 км. Стартовая масса ракеты 18 т, длина — 13,2 м, максимальный диаметр 2 м.";
}

.minotaur:before {
    content: "Minotaur-C, бывшая Таурус — четырёхступенчатая твердотопливная космическая ракета-носитель, разработанная компанией Orbital Sciences Corporation. Разработана на основе ракеты-носителя с воздушным стартом Pegasus этой же компании. Способна доставлять до 1363 кг полезной нагрузки на низкую орбиту.";
}

.aslv:before {
    content: "ASLV — индийская пятиступенчатая ракета-носитель лёгкого класса. Проект ракеты-носителя был начат Индией в начале 1980-х годов с целью разработки технологий, необходимых для размещения полезной нагрузки на геостационарной орбите. Работа проводилась специальным отделением ISRO. Проект ASLV был прекращён после 4 первоначальных полётов. ";
}

.dnepr:before {
    content: "«Днепр» — украинско-российская ракета-носитель, созданная на базе подлежащих ликвидации межконтинентальных баллистических ракет РС-20. В связи с подписанием договора СНВ-1, который предполагал уничтожение 50 % РС-20, встал вопрос о методах сокращения арсенала этих ракет. Одним из вариантов было предложено переоборудовать их в РН и использовать для коммерческих запусков.";
}

.vega:before {
    content: "Вега — европейская лёгкая четырёхступенчатая одноразовая ракета-носитель, совместно разрабатываемая с 1998 года Европейским космическим агентством и Итальянским космическим агентством. Ракета названа в честь второй ярчайшей звезды северного полушария.";
}

.unha_3:before {
    content: "«Ынха-3» — ракета-носитель КНДР, третья в семействе, имеет третью ступень, модифицированную и увеличенную относительно предыдущей РН «Ынха-2», вместе с которой является гражданской версией МБР «Тэпходон-2».";
}

.firefly:before {
    content: "Firefly Alpha — ракета-носитель малого класса, разрабатываемая американско-украинской компанией Firefly Aerospace. Предназначена для запуска малых спутников, включая CubeSat. Согласно расчётам, разработка ракеты обойдётся в 100 млн долларов США.";
}

.falcon:before {
    content: "Falcon Heavy — американская ракета-носитель сверхтяжёлого класса с возможностью повторного использования первой ступени и боковых ускорителей, спроектированная и произведённая компанией SpaceX, является одной из крупнейших ракет-носителей в истории мирового космического ракетостроения наряду с «Сатурном-5» и «Н-1».";
}