main {
    width: 80%;
    margin: auto;
}

.types a {
    position: relative;
    display: block;
}

.types a img {
    width: 70%;
    min-height: 50px;
    max-height: 100px;
}

.types a span {
    position: relative;
    color: white;
    top: -5px;
    display: block;
    background: #494964;
    width: 100%;
}

.types {
    width: 100%;
    margin-bottom: 0;
}

.rovers {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rovers_list {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 300px;
    gap: 20px;
    height: 400px;
    overflow-y: scroll;
    align-items: center;
    padding: 20px;
}

.rovers_list img {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 100px;
}

.rover_images {
    border-radius: 20px;
    width: 100%;
    display: flex;
    position: relative;
    user-select: none;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    min-width: 300px;
    height: 440px;
    margin-left: 10px;
    padding-left: 25%;
    gap: 100%;
    align-items: center;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background: rgba(128, 128, 128, 0.3);
}

.rover_images a {
    height: 90%;
    position: relative;
}

.rover_images a:first-child {
    margin-left: 200px;
}

.rover_images img {
    border-radius: 10px;
    scroll-snap-align: center;
    height: 100%;
}

.rover {
    position: relative;
}

.rover:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 20px;
    text-align: center;
    color: white;
    background: rgba(73, 73, 100, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    font-size: 0.9em;
}

.rover_images::-webkit-scrollbar {
    display: none;
}

.info {
    padding: 10px;
    margin-left: 5px;
    margin-top: 0;
    text-align: justify;
    height: fit-content;
    border-radius: 20px;
    background: #494964;
}

img {
    -webkit-user-drag: none;
}

.ln_1:before {
    content: "Луноход-1";
}

.ln_2:before {
    content: "Луноход-2";
}

.lc:before {
    content: "Лунный автомобиль";
}

.pt:before {
    content: "Соджонер";
}

.mer:before {
    content: "Mars Exploration Rover";
}

.cur:before {
    content: "Curiosity";
}