.sputnik1:before {
    content: "«Спутник-1» — первый в мире искусственный спутник Земли, советский космический аппарат, запущенный на орбиту 4 октября 1957 года. Кодовое обозначение спутника — «ПС-1».";
}

.explorer1:before {
    content: "«Эксплорер-1» — искусственный спутник Земли, который стал первым ИСЗ, удачно запущенным в США 1 февраля 1958 года в 3:48 UTC командой Вернера фон Брауна. «Эксплорер-1» прекратил радиопередачи 28 февраля 1958 года, находился на орбите до марта 1970 года.";
}

.ariel1:before {
    content: "Ariel 1 — первый британский искусственный спутник Земли. Был успешно запущен с космодрома на мысе Канаверел 26 апреля 1962 года.";
}

.asterix:before {
    content: "«Астерикс» — первый французский искусственный спутник Земли, предназначался, в первую очередь, для испытания ракеты-носителя. Был запущен с французского космодрома Хаммагир в Алжире 26 ноября 1965 года с помощью сконструированной самостоятельно французской ракеты-носителя «Диамант-А».";
}

.viking:before{
    content: "Викинг — первый искусственный спутник Земли, разработанный в Швеции. Спутник был запущен 22 февраля 1986 года с космодрома Куру с помощью ракеты-носителя Ариан-1. Викинг использовался для исследования плазменных процессов в магнитосфере и ионосфере.";
}

.orsted:before{
    content: "Эрстед (дат. Ørsted) — первый искусственный спутник Земли, произведённый в Дании. Аппарат был запущен 23 февраля 1999 года с космодрома на авиабазе Ванденберг с помощью ракеты-носителя Дельта-2. Основная задача аппарата — высокоточные измерения параметров геомагнитного поля Земли.";
}

.libertad:before{
    content: "Libertad 1 — первый колумбийский искусственный спутник. Построен студентами Университета Сергио Арболеды в Боготе. На орбиту его доставила ракета Днепр 17 апреля 2007 года с космодрома Байконур в Казахстане.";
}

.swisscube:before{
    content: "SwissCube — первый спутник, полностью построенный в Швейцарии. Он был разработан на базе платформы CubeSat в The École Polytechnique Fédérale de Lausanne (EPFL) в сотрудничестве с рядом швейцарских инженерных школ, университетов и частных фирм. Представляет собой куб с ребром 10 см и весом 820 граммов.";
}

.kndr:before{
    content: "Кванмёнсон-3 (кор. 광명성 3호?, 光明星三號? — «Яркая звезда-3») — третий из серии искусственных спутников Земли КНДР. Запуск спутника ракетой-носителем (РН) «Ынха-3» («Млечный путь-3») с космодрома Тончхан-ни (Сохэ) осуществлялся дважды: 13 апреля 2012 года и 12 декабря 2012 года.";
}

.katari:before{
    content: "«Ту́пак Ката́ри» (исп. Túpac Katari), также TKSat-1 — первый спутник Боливии. Спутник связи назван в честь Тупака Катари — вождя индейского антиколониального восстания в Боливии 1780—1781 годов.";
}