.salut_1:before {
    content: "ОКС «Салю́т» — первая в мире пилотируемая орбитальная станция. Создана по программе гражданских орбитальных пилотируемых станций «Долговременная орбитальная станция». Станция была отправлена с завода-изготовителя на космодром Байконур в феврале 1971 года.";
}

.skylab:before {
    content: "Скайлэб — первая и единственная национальная орбитальная станция США, предназначенная для технологических, астрофизических, медико-биологических исследований, а также для наблюдения Земли.";
}

.salut_3:before {
    content: "Орбитальная космическая станция «Салю́т-3» по программе военных орбитальных пилотируемых станций СССР «Алмаз» массой 18,5 т была выведена на орбиту ракетой-носителем «Протон» 26 июня 1974 года. Перигей орбиты составлял 219 км, апогей — 270 км, наклонение 51,6°.";
}

.salut_4:before {
    content: "«Салют-4» — орбитальная космическая станция по программе гражданских пилотируемых станций СССР «Долговременная орбитальная станция», была выведена на орбиту ракетой-носителем «Протон-К» 26 декабря 1974 года. Станция закончила свою работу 3 февраля 1977 года.";
}

.salut_5:before {
    content: "ОПС «Салют-5» по программе военных орбитальных пилотируемых станций СССР «Алмаз» массой 19 т. была выведена на орбиту ракетой-носителем «Протон» 22 июня 1976 года. Осуществлено две стыковки с пилотируемыми космическими кораблями «Союз-21» и «Союз-24».";
}

.salut_6:before {
    content: "Салют-6 — орбитальная станция по программе гражданских пилотируемых станций СССР «Долговременная орбитальная станция», предназначенная для проведения научных, технологических, биологических и медицинских исследований в условиях невесомости. Первая станция второго поколения.";
}

.salut_7:before {
    content: "Салют-7 — советская орбитальная станция, созданная по гражданской программе «Долговременная орбитальная станция». Предназначалась для проведения научных, технологических, биологических и медицинских исследований в условиях невесомости. Вторая и последняя станция второго поколения, последняя станция серии «Салют».";
}

.mir:before {
    content: "«Мир» — советская и российская пилотируемая научно-исследовательская орбитальная станция, находившаяся в околоземном космическом пространстве с 20 февраля 1986 года по 23 марта 2001 года. Первая многомодульная орбитальная станция в истории. Спроектирована «НПО Энергия».";
}

.iss:before {
    content: "Междунаро́дная косми́ческая ста́нция, сокр. МКС — пилотируемая орбитальная станция, используемая как многоцелевой космический исследовательский комплекс; эксплуатируется с конца 1998 года по настоящее время.";
}

.tiangong_1:before {
    content: "«Тяньгун-1» — первый китайский космический аппарат класса орбитальной станции, созданный по Проекту 921-2, именуемый как целевой модуль и предназначенный для отработки технологий сближения и стыковки космических аппаратов.";
}

.tiangong_2:before {
    content: "«Тяньгун-2» — второй китайский посещаемый пилотируемый аппарат Проекта 921-2, именуемый космической лабораторией.";
}

.tiangong_station:before {
    content: "Тяньгун, официально космическая станция Тяньгун, представляет собой космическую станцию, построенную Китаем и эксплуатируемую Китайским пилотируемым космическим агентством на низкой околоземной орбите на высоте от 340 до 450 км над поверхностью.";
}