input[type="checkbox"] {
    display: none;
}

input:checked ~ #burger {
    height: max-content;
    top: 0;
    left: 0;
    scale: 1;
}

input:not(:checked) ~ #burger * {
    animation: hideBurgerMenu 1ms 0.7s forwards;
}

input:checked + label {
    rotate: 90deg;
}