body {
    font-family: Arial, serif;
    color: whitesmoke;
    background: rgb(51, 51, 68);
    cursor: default;
    overflow-y: hidden;
}

.container {
    scroll-snap-type: x mandatory;
    border-radius: 20px;
    scroll-behavior: smooth;
    position: relative;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: inset 0 0 10px 1px #83D4FF;
    outline: solid #83D4FF;
}

.container a {
    scroll-snap-align: start;
    position: relative;
    padding: 0 10px;
}

.container a img {
    margin: auto;
    border-radius: 20px;
    height: 230px;
    width: 230px;
    cursor: pointer;
}

.container a:before {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    left: -10px;
    top: -10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    text-align: justify;
    transform-origin: center;
    scale: 0;
    font-size: 0.9em;
    background: rgba(43, 43, 43, 0.2);
    transition: 0.3s all ease-in-out;
}

.container .hovered:before {
    scale: 1;
}

.container .hovered:hover:before {
    backdrop-filter: blur(5px);
}

h2 {
    font-size: 26px;
}

/* Links */

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: azure;
}

nav * a:active {
    color: red;
}

pre {
    font-size: 16px;
    font-family: "Arial", serif;
}

/*  Footer  */

footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer a:has(img) {
    border-radius: 20px;
    height: 40px;
}

footer img {
    width: 40px;
}

footer img:hover {
    filter: brightness(1.3);
}

.text-center {
    text-align: center;
}

#arrowUp {
    position: fixed;
    right: 10px;
    top: 10px;
    display: none;
    width: 30px;
    font-size: 30px;
}

#arrowUp:hover {
    color: aquamarine;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}